{% load markup %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block title %}Books{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	{% block extrahead %}{% endblock %}
</head>
<body>
<div id="header">
	{% block header %}
      <h1><a href="/">Books</a></h1>
      <h3>The place of the cure of the soul.</h3>
      <ul id="main-nav">
        <li><a href="/">Home</a></li>
        {{ if user.is_authenticated }}
        <li>Welcome, {% user.username %} <a href="/logout">Logout</a></li>
        {{ else }}
        <li><a href="/login">Login</a></li>
        {{ endif }}
      </ul>
      {% endblock header %}
    </div>
    <div id="content">
      {% block content %}{% endblock content%}
    </div>
    <div id="sidebar">
      {% block sidebar %}
        <h3> Bookroll</h3>
        <ul id="bookroll">
          <li><a href="/book/1">War and Peace</a></li>
        </ul>
      {% endblock sidebar %}
      </div>
</body>
</html>
