{% extends "base.html" %}


{% block title %}
	{{ book }}
{% endblock %}

{% block content %}
	<h1>{{ book }}</h1>
	<p><small><a href="/suggest/{{ book.id }}">recommend</a></small></p>
	<table>
	<tr>
		<th>Publisher
		<th>Publish Year
		<th>Language
	</tr>
	<tr>
		<td>{{ book.publisher }}
		<td>{{ book.publishYear }}
		<td>{{ book.language }}
	</tr>
	</table>
	<p>{{ book.description }}</p>
	<table>
	<tr>
		<th>Dewey Decimal
	</tr>
		<td>{{ book.deweyDecimal }}
	</table>
	<table>
	<tr>
		<th><a href="{{ book.amazonURL }}">Amazon</a>
		<th><a href="{{ book.gutenbergURL }}">Project Gutenberg
		<th><a href="{{ book.googleBooksURL }}">Google Books
		<th><a href="{{ book.abeBooksURL }}">ABE Books
	</tr>
	</table>
	<h2>Tags</h2>
	{% if tags %}
	<ul>
	{% for tag in tags.all %}
	<li><a href="/tag/{{ tag.description }}">{{ tag }}</a>
	{% endfor %}
	</ul>
	{% else %}
	<p>No tags.</p>
	{% endif %}
	<h2>Genres</h2>
	{% if genres %}
	<ul>
	{% for genre in genres.all %}
	<li><a href="/genre/{{ genre.description }}">{{ genre }}</a>
	{% endfor %}
	</ul>
	{% else %}
	<p>No genres.</p>
	{% endif %}
{% endblock %}
